.agendaContent__weekDays {
    display: flex;
    flex-direction: column;
}
.agendaContent__weekDays li{
    display:flex;
    margin: 5px 0px;
}
.agendaContent__weekDays li>div{
    margin-right: 25px;
    cursor:pointer;
}