.vocabulary {
    display: flex;
}

.vocabulary__content {}

/* .display-vocabulary,
.select-vocabulary {
    background-image: url("/public/assets/images/bg/blue-degrade.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
} */

.select-vocabulary .vocabulary-keys {
    display: flex;
}

.select-vocabulary ul {
    list-style-type: none;
}

.select-vocabulary ul li {
    display: flex;
    align-items: center;
    background-color: rgb(20, 21, 21);
    /* border: 1px solid rgba(255, 255, 255, .3); */
    padding: 15px;
    font-size: 15px;
    margin: 6px;
}

.vocabulary-check {
    border: 1px solid rgba(255, 255, 255, .1);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.vocabulary-rate {
    display: flex;
    align-items: center;
}

.vocabulary-rate i {
    margin-right: 5px;
}


.select-vocabulary ul li .vocabulary-avatar {
    width: 50px;
    height: 50px;
}

.vocabulary-keys {
    padding: 15px;
    margin: 6px;
    background-color: rgb(47, 47, 47);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vocabulary-keys p:nth-child(1) {
    width: 52px;
}

.vocabulary-keys p:nth-child(2) {
    width: 105px;
}

.vocabulary-keys p:nth-child(3) {
    width: 166px;
}

.vocabulary-keys p:nth-child(4) {
    width: 245px;
}

.vocabulary-keys p:nth-child(5) {
    width: 105px;
}

.select-vocabulary ul li>div {
    display: flex;
    justify-content: flex-start;
}

.select-vocabulary ul li>div:nth-child(1) {
    width: 52px;
}

.select-vocabulary ul li>div:nth-child(2) {
    width: 105px;
}

.select-vocabulary ul li>div:nth-child(3) {
    width: 166px;
}

.select-vocabulary ul li>div:nth-child(4) {
    width: 245px;
}

.select-vocabulary ul li>div:nth-child(5) {
    width: 105px;
}

.vocabulary__content {
    display: flex;
    width: 100%;
    max-width: 885px;
    flex-direction: column;
}

.vocabulary__content__left {
    width: 100%;
}

.select-vocabulary__content__right {
    width: 100%;
}

.vocabulary__content__right {
    width: 27%;
}

.vocabulary__content__right__body p {
    margin: 15px 0px 5px 0px;
}

.vocabulary__content__right__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 6px;
    background-color: rgb(47, 47, 47);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Cercle de progression */
.progress-circle .circle {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* background: conic-gradient(#3498db 0 68%, #e0e0e0 68%); */
}

.progress-circle .inside-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    font-weight: 700;
    color: #333;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.08);
}


.vocabulary__content__left__body__left p {
    margin: 0;
    font-weight: 600;
    margin-left: 20px;
}

.vocabulary__content__left__header p {
    text-transform: capitalize;
}

/* fiche  */
.vocabulary__content__left__body__right img {
    width: 60px;
    height: 60px;
}

.vocabulary__content__left__body {
    display: flex;
}

.vocabulary__content__left__body__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 83px;
}

.vocFiche__top {
    display: flex;
    align-items: center;
}

.vocFiche__bottom {
    display: flex;
    align-items: center;
}

.vocFiche {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
    padding: 15px;
    margin: 7px;
    width: 240px;
    cursor: pointer;
}

.progress-circle {
    margin: 28px 5px 19px 0px;
}

/* progress bar rectangle */
.progress-bar {
    width: 120px;
    height: 15px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(52, 53, 53);
    margin: 15px 10px;
}

.rectangle {
    width: 47%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(0, 95, 242);
}

/* display flash card */

/* header */

.category__header {
    display: flex;
    align-items: center;
}

.category__header__left {
    display: flex;
    align-items: center;
}

.category__header__left img {
    width: 100px;
    height: 100px;
}

.category__header__left p {
    text-transform: capitalize;
}

/* body */
.category__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 180px;
    /* padding: 71px 174px; */ 
    /* width: fit-content; */
    margin: auto;
    cursor: pointer;
        background-color: rgb(20, 21, 21);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}



.flashCard__title {
    margin-bottom: 25px;
    font-size: 24px;
}

.flashCard__traduction {
    font-size: 22px;
}

/* footer */

.category__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__footer .category__footer__msg {
    margin: 40px 0px;
}

.category__footer__buttons button {
    margin: 0px 10px;
    padding: 5px 15px;
}